# A Regression Model in Keras
## Sotiris Papanikolaou

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item1">Import and Clean Dataset</a>  
2. <a href="#item2">Build a Neural Network</a>  
3. <a href="#item3">Train and Test the Network</a>  

</font>
</div>

<a id="item1"></a>

## Import and Clean Dataset

In [79]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("C:/Users/Sotiris/Documents/Coursera/IBM/IBM AI Engineering Professional Certificate/3. Introduction to Deep Learning & Neural Networks with Keras/Week 5/concrete_data.csv", header=0)

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's take a look:

In [11]:
print("Dataframe's shape is: {}".format(df.shape))
df.head()

Dataframe's shape is: (1030, 9)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [12]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [13]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

Split the Data into predictors and target:

In [14]:
predictors = df[df.columns[df.columns != 'Strength']]
target = df['Strength']

<a id="item2"></a>

## Build a Neural Network

In [17]:
import keras

In [16]:
from keras.models import Sequential
from keras.layers import Dense

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [20]:
def regression_model():
    #create model
    #One hidden layer of 10 nodes, and a ReLU activation function.
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(predictors.shape[1],)))
    model.add(Dense(1))
    
    
    #Use the adam optimizer and the mean squared error as the loss function.
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

<a id="item3"></a>

## Train and Test the Network
## A. (Build a baseline model)

In [70]:
model = regression_model()

In [71]:
#Randomly split the data into a training and test sets by holding 30% of the data for testing.
#Train the model on the training data using 50 epochs.
#Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and 
#the actual concrete strength.

history = model.fit(predictors, target, validation_split=0.3, epochs=50, verbose=2)
history

Train on 721 samples, validate on 309 samples
Epoch 1/50
 - 0s - loss: 44742.7676 - val_loss: 11052.3084
Epoch 2/50
 - 0s - loss: 4628.0996 - val_loss: 2448.6106
Epoch 3/50
 - 0s - loss: 2747.5030 - val_loss: 2168.4017
Epoch 4/50
 - 0s - loss: 2273.5715 - val_loss: 1970.4902
Epoch 5/50
 - 0s - loss: 1973.8339 - val_loss: 1716.7210
Epoch 6/50
 - 0s - loss: 1709.5810 - val_loss: 1500.8390
Epoch 7/50
 - 0s - loss: 1479.5057 - val_loss: 1288.9296
Epoch 8/50
 - 0s - loss: 1282.0864 - val_loss: 1124.8395
Epoch 9/50
 - 0s - loss: 1117.4989 - val_loss: 970.8059
Epoch 10/50
 - 0s - loss: 976.4605 - val_loss: 844.6991
Epoch 11/50
 - 0s - loss: 857.9063 - val_loss: 731.6875
Epoch 12/50
 - 0s - loss: 762.7022 - val_loss: 639.0719
Epoch 13/50
 - 0s - loss: 682.9914 - val_loss: 554.0526
Epoch 14/50
 - 0s - loss: 619.3553 - val_loss: 493.5106
Epoch 15/50
 - 0s - loss: 563.3522 - val_loss: 431.0594
Epoch 16/50
 - 0s - loss: 517.8444 - val_loss: 383.0644
Epoch 17/50
 - 0s - loss: 478.3043 - val_loss: 345.0027
Epoch 18/50
 - 0s - loss: 446.3328 - val_loss: 309.7160
Epoch 19/50
 - 0s - loss: 417.9518 - val_loss: 276.0660
Epoch 20/50
 - 0s - loss: 395.3351 - val_loss: 252.6877
Epoch 21/50
 - 0s - loss: 374.7228 - val_loss: 232.5995
Epoch 22/50
 - 0s - loss: 356.5706 - val_loss: 216.4601
Epoch 23/50
 - 0s - loss: 341.9874 - val_loss: 199.0650
Epoch 24/50
 - 0s - loss: 329.0273 - val_loss: 188.8254
Epoch 25/50
 - 0s - loss: 317.2305 - val_loss: 176.6262
Epoch 26/50
 - 0s - loss: 308.5669 - val_loss: 168.7742
Epoch 27/50
 - 0s - loss: 298.2329 - val_loss: 162.2519
Epoch 28/50
 - 0s - loss: 290.5290 - val_loss: 156.2570
Epoch 29/50
 - 0s - loss: 285.1108 - val_loss: 150.2032
Epoch 30/50
 - 0s - loss: 278.8928 - val_loss: 148.0762
Epoch 31/50
 - 0s - loss: 270.9244 - val_loss: 142.2628
Epoch 32/50
 - 0s - loss: 266.1947 - val_loss: 139.5645
Epoch 33/50
 - 0s - loss: 261.7710 - val_loss: 136.5538
Epoch 34/50
 - 0s - loss: 257.4293 - val_loss: 133.2696
Epoch 35/50
 - 0s - loss: 252.9746 - val_loss: 134.8894
Epoch 36/50
 - 0s - loss: 255.3213 - val_loss: 130.7690
Epoch 37/50
 - 0s - loss: 245.8413 - val_loss: 132.4315
Epoch 38/50
 - 0s - loss: 243.9106 - val_loss: 127.4703
Epoch 39/50
 - 0s - loss: 239.3447 - val_loss: 127.1567
Epoch 40/50
 - 0s - loss: 236.6643 - val_loss: 122.7191
Epoch 41/50
 - 0s - loss: 234.7234 - val_loss: 123.5869
Epoch 42/50
 - 0s - loss: 232.5999 - val_loss: 125.6357
Epoch 43/50
 - 0s - loss: 228.9693 - val_loss: 119.4097
Epoch 44/50
 - 0s - loss: 226.0868 - val_loss: 120.2665
Epoch 45/50
 - 0s - loss: 223.7544 - val_loss: 119.3083
Epoch 46/50
 - 0s - loss: 220.6445 - val_loss: 115.9569
Epoch 47/50
 - 0s - loss: 218.8727 - val_loss: 114.9452
Epoch 48/50
 - 0s - loss: 217.1464 - val_loss: 114.4781
Epoch 49/50
 - 0s - loss: 215.3999 - val_loss: 112.5159
Epoch 50/50
 - 0s - loss: 212.1740 - val_loss: 112.5103

In [76]:
scores = []
for i in range(0,50):
    model = regression_model()
    history = model.fit(predictors, target, validation_split=0.3, epochs=50, verbose=0)
    scores.append(history.history['val_loss'][-1])

In [77]:
scores

[793.9187529233667,
 502.6741122643924,
 1398.1478330741809,
 609.6158945028064,
 109.46629787803082,
 350.97929486024725,
 82.80734377617203,
 122.12580249378982,
 176.21955945653824,
 573.8580133629463,
 979.7591303853155,
 1837.4592601195893,
 78.81424293394613,
 173.71308864358946,
 118.83787025525731,
 609.0255529903671,
 171.51242346902495,
 90.98333680976941,
 241.23492599536686,
 176.76715003942596,
 467.23580157332435,
 190.4056766349521,
 112.28147757323428,
 254.51244904848363,
 105.11159554885815,
 1252.8037840216678,
 1167.4523078399955,
 1179.4703619997092,
 517.5043359651535,
 142.0362751291022,
 201.088652897807,
 220.61378775291072,
 303.2494284620563,
 927.0124316169221,
 107.19939434952721,
 315.8103307828934,
 168.83544270043234,
 92.52685580207306,
 420.7016180340912,
 91.98569535437525,
 96.16271883770101,
 534.5207965937248,
 634.2932969374178,
 471.4735545926881,
 95.65652106572124,
 77.25512892837277,
 105.79760939712277,
 236.8588823238237,
 830.692458266965,
 664.2688691469458]

In [87]:
print("The mean and the standard deviation of the mean squared errors respectively are: {}, {}"\
      .format(np.asarray(scores).mean(),np.asarray(scores).std()))

The mean and the standard deviation of the mean squared errors respectively are: 423.6547485082434, 402.4765843988481

## B. (Normalize data)

In [88]:
predictors_standarized = (predictors-predictors.mean())/predictors.std()
predictors_standarized.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [89]:
scores = []
for i in range(0,50):
    model = regression_model()
    history = model.fit(predictors_standarized, target, validation_split=0.3, epochs=50, verbose=0)
    scores.append(history.history['val_loss'][-1])

In [90]:
print("The mean and the standard deviation of the mean squared errors respectively are: {}, {}"\
      .format(np.asarray(scores).mean(),np.asarray(scores).std()))

The mean and the standard deviation of the mean squared errors respectively are: 370.587381273782, 74.47726208953522

We got a better mean with a smaller standard deviation. A better model !

## C. (Increase the number of epochs)

In [91]:
scores = []
for i in range(0,50):
    model = regression_model()
    history = model.fit(predictors_standarized, target, validation_split=0.3, epochs=100, verbose=0)
    scores.append(history.history['val_loss'][-1])

In [92]:
print("The mean and the standard deviation of the mean squared errors respectively are: {}, {}"\
      .format(np.asarray(scores).mean(),np.asarray(scores).std()))

The mean and the standard deviation of the mean squared errors respectively are: 184.29799802020912, 21.786525278441516

We got a better mean with a smaller standard deviation than B. We created a better model !

## D. (Increase the number of hidden layers)

In [93]:
def regression_model():
    #create model
    #One hidden layer of 10 nodes, and a ReLU activation function.
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(predictors.shape[1],)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    
    #Use the adam optimizer and the mean squared error as the loss function.
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [94]:
scores = []
for i in range(0,50):
    model = regression_model()
    history = model.fit(predictors_standarized, target, validation_split=0.3, epochs=50, verbose=0)
    scores.append(history.history['val_loss'][-1])

In [95]:
print("The mean and the standard deviation of the mean squared errors respectively are: {}, {}"\
      .format(np.asarray(scores).mean(),np.asarray(scores).std()))

The mean and the standard deviation of the mean squared errors respectively are: 145.1533743868831, 25.19787465201204

We got a better mean with a smaller standard deviation than B and C. We created a better model !